
  /*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


li {
  margin: 0;
  padding: 0;
  font: inherit; /* Наследует шрифт от родительского элемента */
  list-style: none; /* Убирает маркеры списка */
  color: inherit; /* Наследует цвет от родительского элемента */
  background: none; /* Убирает фоновый цвет */
  border: none; /* Убирает границы */
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Наследует цвет от родительского элемента */
  padding: 0; /* Убирает любые внутренние отступы */
  margin: 0; /* Убирает любые внешние отступы */
  background: none; /* Убирает фоновый цвет */
  border: none; /* Убирает границы */
}



@layer base {
    @font-face {
      font-family: 'Disp';
      src: 
        url('../assets/fonts/DISP.ttf') format('truetype'), /* Safari, Android, iOS */
         }
  
  }



  :root{
    --dark: #292929;
    --light:#eaeaea;
    --text-shadow: rgba(237, 237, 237, 0.5);
    --silver-gradient: linear-gradient(135deg, #f7f7f7, #b7b7b7, #f7f7f7);
    --background-gradient: linear-gradient(135deg, #192b4d, #082c58);
    --dark-blue: #192b4d;
    --dark-blue2: #141e30;
    --light-blue: #082c58;
    --light-blue2: #243b55;
  }
  



.block__title h1{
    padding-top:30px;
    margin:  auto;
    text-align: center;
    font-size: 27pt;
    color: white;
    font-weight: 500;
    width: 90%;
}

.title__light h1 {
    color: var(--dark-blue) !important;
}

.section__wrapper{
    padding: 10px 0;
}

.section__light-wrapper{
    margin: 30px 0;
    border-top: 5px dashed var(--light-blue);
    position: relative;
    color: var(--dark-blue);
}

@media(max-width:435px){
    .block__title h1{
        font-size: 25pt;
    }
}











































